/* :root {
        --font-family: "Poppins", sans-serif;
        --second-family: "Inter", sans-serif;
        --third-family: "Montserrat", sans-serif;
        --font3: "FontAwesome", sans-serif;
        --font4: "Roboto", sans-serif;
        --font5: "ProximaNova", sans-serif;
        --font6: "Asap Condensed", sans-serif;
    } */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

                body {
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 2%;
                    color: var(--text);
                    background-color: var(--white-background);
                }
        
                /* reset */
        
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    margin: 0;
                }
        
                ul,
                ol {
                    margin: 0;
                    padding-left: 0;
                    list-style-type: none;
                }
        
                img {
                    display: block;
                    max-width: 100%;
                }
    
    /* .header {
       display: flex;
       align-items: center;
            } */
        
    .header-container {
        display: flex;
        align-items: center;
    }

        .header-navigation {
            display: flex;
            align-items: center;
        }

        .list-navigation {
            display: flex;
                align-items: center;
                padding-left: 237px;
        }

        .header-list-button {
            display: flex;
                align-items: center;
        }
        .header-logo {
            display: flex;
                align-items: center;
                gap: 16px;
                padding-left: 146px;
        }